
#gidebug {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 200px;
  height: 200px;
  background: #AAA;
  -webkit-box-shadow: 1px 1px 15px #222;
  -moz-box-shadow: 1px 1px 15px #222;
}

#gidebug .GiDebugHeader {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 20px;
  background: #BBB;
}

#gidebug .GiDebugFooter {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 20px;
  background: #BBB;
}

#gidebug .GiDebugRightButton {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 40px;
  background: #AAA;
}

#gidebug .GiDebugBody {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 20px;
  bottom: 20px;
  background: white;
  overflow: scroll;   /* vertical scrollbar is mandatory */
  overflow-x: hidden; /* but horizontal scrollbar is forbidden */
}

